<div class="bred_crumb">
    <div class="container">
      <!-- shape animation  -->
      <span class="banner_shape1"> <img src="./assets/images/banner-shape1.png" alt="image" > </span>
      <span class="banner_shape3"> <img src="./assets/images/banner-shape3.png" alt="image" > </span>
      <span class="banner_shape2"> <img src="./assets/images/banner-shape2.png" alt="image" > </span>

      <div class="bred_text">
        <h1>Our Pricing & Plans</h1>
      </div>
    </div>
  </div>
<!-- Pricing-Section -->
<section class="row_am pricing_section" id="pricing">
    <!-- container start -->
    <div class="container">
      <div class="section_title" >
        <!-- h2 -->
        <h2><span>Pricing</span></h2>
        <!-- p -->
      </div>
      
      <div class="pricing_pannel monthly_plan active">
        <!-- row start -->
        <div class="row" >
          <!-- pricing box 1 -->
          <div class="col-md-4" data-aos="flip-right"
          data-aos-duration="500">
            <div class="pricing_block">
              <div class="icon" >
                <img src="./assets/images/standard.png" alt="image" />
              </div>
              <div class="pkg_name">
                <h3>- BASIC -</h3>
              </div>
              <span class="price"><del>399</del><sup>199</sup></span>
              <ul class="benifits">
                <li>
                  <p><i class="bi bi-check2-circle"></i>&nbsp; Billing</p>
                </li>
                
                <li>
                  <p>
                    <i class="bi bi-check2-circle"></i>&nbsp; Standard Billing
                    Format
                  </p>
                </li>
                
                <li>
                  <p><i class="bi bi-x-circle"></i>&nbsp; Notifications</p>
                </li>
                
                <li>
                  <p><i class="bi bi-x-circle"></i>&nbsp;Staff Attendance</p>
                </li>
                
                <li>
                  <p><i class="bi bi-x-circle"></i>&nbsp; Membership</p>
                </li>
                
                <li>
                  <p><i class="bi bi-x-circle"></i>&nbsp; Appointment</p>
                </li>
                
              </ul>
              <button class="btn white_btn pb-3" (click)="signUp()">BUY NOW</button>
            </div>
          </div>
  
          <!-- pricing box 2 -->
          <div class="col-md-4" data-aos="flip-left"
          data-aos-easing="ease-out-cubic"
          data-aos-duration="500">
            <div class="pricing_block highlited_block">
              <div class="icon">
                <img src="./assets/images/unlimited.png" alt="image" />
              </div>
              <div class="pkg_name">
                <h3>- PRO -</h3>
              </div>
              <span class="price"><del>1999</del><sup>1499</sup></span>
              <ul class="benifits">
                <li>
                  <p><i class="bi bi-check2-circle"></i>&nbsp; Same As Basic</p>
                </li>
                
                <li>
                  <p>
                    <i class="bi bi-check2-circle"></i>&nbsp; E-mail Notifications
                  </p>
                </li>
                
                <li>
                  <p>
                    <i class="bi bi-check2-circle"></i>&nbsp; Customized Billing
                  </p>
                </li>
                
                <li>
                  <p>
                    <i class="bi bi-check2-circle"></i>&nbsp; Staff Attendance
                  </p>
                </li>
                
                <li>
                  <p>
                    <i class="bi bi-check2-circle"></i>&nbsp; Staff Attendance
                  </p>
                </li>
                
              </ul>
              <button class="btn white_btn" (click)="signUp()">BUY NOW</button>
            </div>
          </div>
  
          <!-- pricing box 3 -->
          <div class="col-md-4" data-aos="flip-left"
          data-aos-duration="500">
            <div class="pricing_block">
              <div class="icon">
                <img src="./assets/images/premium.png" alt="image" />
              </div>
              <div class="pkg_name">
                <h3>- PLUS -</h3>
              </div>
              <span class="price"><del>3499</del><sup>2499</sup></span>
              <ul class="benifits">
                <li>
                  <p><i class="bi bi-check2-circle"></i>&nbsp; Same As Pro</p>
                </li>
                
  
                <li>
                  <p><i class="bi bi-check2-circle"></i>&nbsp; Reward Point</p>
                </li>
                
                <li>
                  <p><i class="bi bi-check2-circle"></i>&nbsp; Marketing Tools</p>
                </li>
                
                <li>
                  <p>
                    <i class="bi bi-check2-circle"></i>&nbsp; Whatsapp
                    Notification
                  </p>
                </li>
                
                <li>
                  <p><i class="bi bi-check2-circle"></i>&nbsp; Auto Reporting</p>
                </li>
                
                <li>
                  <p><i class="bi bi-check2-circle"></i>&nbsp; Appointment</p>
                </li>
                
              </ul>
              <button  class="btn white_btn" (click)="signUp()">BUY NOW</button>
            </div>
          </div>
        </div>
        <!-- row end -->
      </div>
    </div>
    <!-- container start end -->
  </section>
  
  <!-- News-Letter-Section-Start -->
  
  <div class="news">
    <section class="newsletter_box newsletter_section">
      <!-- container start -->
      <div class="container" data-aos="fade-left" data-aos-duration="1500">
        <div class="newsletter">
          <div class="section_title">
            <h1><i class="icofont-quote-left"></i>&nbsp;Add on</h1>
            <div class="add_on" style="display: flex; justify-content: space-between; align-items: center;">
              <div class="fee">
                <h1><i class="bi bi-hash"></i></h1>
                <h5  >&nbsp; API Integration </h5  >
                <h5  >Fee</h5  >
              </div>
              <div class="month">
                <h1><i class="bi bi-hash"></i></h1>
                <h5  >
                  &nbsp;Whatsapp Messages
                 
                </h5  >
                <h5  > Rs.500/Month</h5  >
              </div>
            </div>
           
          </div>
        </div>
      </div>
      <!-- container end -->
    </section>
    <!-- News-Letter-Section-end -->
  </div>
  
  <!-- News-Letter-Section-end -->
  
  <section class="pricing-list" data-aos="fade-right"  data-aos-duration="1500">
    <div class="container">
      <div class="rate-container" >
        <table class="table table-hover">
          <tr >
            <th></th>
            <th>Basic</th>
            <th>PRO</th>
            <th>PLUS</th>
          </tr>
          <tbody>
            <tr >
              <td>Price</td>
              <td><i class="bi bi-currency-rupee"></i> 199</td>
              <td><i class="bi bi-currency-rupee"></i> 1499</td>
              <td><i class="bi bi-currency-rupee"></i> 2499</td>
            </tr>
            <tr>
              <td>Billing</td>
              <td><i class="bi bi-check2-circle"></i>&nbsp;</td>
              <td><i class="bi bi-check2-circle"></i>&nbsp;</td>
              <td><i class="bi bi-check2-circle"></i>&nbsp;</td>
            </tr>
            <tr >
              <td>Standard Billing Format</td>
              <td><i class="bi bi-check2-circle"></i>&nbsp;</td>
              <td><i class="bi bi-check2-circle"></i>&nbsp;</td>
              <td><i class="bi bi-check2-circle"></i>&nbsp;</td>
            </tr>
            <tr>
              <td>Notifications</td>
              <td><i class="bi bi-x-circle"></i>&nbsp;</td>
              <td><i class="bi bi-check2-circle"></i>&nbsp;</td>
              <td><i class="bi bi-check2-circle"></i>&nbsp;</td>
            </tr>
            <tr >
              <td>Staff Attendance</td>
              <td><i class="bi bi-x-circle"></i>&nbsp;</td>
              <td><i class="bi bi-check2-circle"></i>&nbsp;</td>
              <td><i class="bi bi-check2-circle"></i>&nbsp;</td>
            </tr>
            <tr>
              <td>Membership</td>
              <td><i class="bi bi-x-circle"></i>&nbsp;</td>
              <td><i class="bi bi-check2-circle"></i>&nbsp;</td>
              <td><i class="bi bi-check2-circle"></i>&nbsp;</td>
            </tr>
            <tr >
              <td>Appointment</td>
              <td><i class="bi bi-x-circle"></i>&nbsp;</td>
              <td><i class="bi bi-x-circle"></i>&nbsp;</td>
              <td><i class="bi bi-check2-circle"></i>&nbsp;</td>
            </tr>
            <tr>
              <td>Customized Billing</td>
              <td><i class="bi bi-x-circle"></i>&nbsp;</td>
              <td><i class="bi bi-check2-circle"></i>&nbsp;</td>
              <td><i class="bi bi-check2-circle"></i>&nbsp;</td>
            </tr>
            <tr >
              <td>Reward Point</td>
              <td><i class="bi bi-x-circle"></i>&nbsp;</td>
              <td><i class="bi bi-x-circle"></i>&nbsp;</td>
              <td><i class="bi bi-check2-circle"></i>&nbsp;</td>
            </tr>
            <tr>
              <td>Marketing Tools</td>
              <td><i class="bi bi-x-circle"></i>&nbsp;</td>
              <td><i class="bi bi-x-circle"></i>&nbsp;</td>
              <td><i class="bi bi-check2-circle"></i>&nbsp;</td>
            </tr>
            <tr >
              <td>Whatsapp Notification</td>
              <td><i class="bi bi-x-circle"></i>&nbsp;</td>
              <td><i class="bi bi-x-circle"></i>&nbsp;</td>
              <td><i class="bi bi-check2-circle"></i>&nbsp;</td>
            </tr>
            <tr>
              <td>Auto Reporting</td>
              <td><i class="bi bi-x-circle"></i>&nbsp;</td>
              <td><i class="bi bi-x-circle"></i>&nbsp;</td>
              <td><i class="bi bi-check2-circle"></i>&nbsp;</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
  
  <!-- FAQ-Section start -->
  <section class="row_am faq_section" data-aos="fade-left"  data-aos-duration="1500">
    <!-- container start -->
    <div class="container">
      <div class="section_title" >
        <!-- h2 -->
        <h2><span>FAQ - Frequently Asked Questions</span></h2>
      </div>
      <!-- faq data -->
      <div class="faq_panel">
        <div class="accordion" id="accordionExample">
          <div class="card" >
            <div class="card-header" id="headingOne" >
              <h5 class="mb-0">
                <button
                  type="button"
                  class="btn btn-link"
                  data-toggle="collapse"
                  data-target="#collapseOne"
                >
                  <i class="icon_faq icofont-plus"></i>How does the 14-day free
                    trial work?
                </button>
              </h5>
            </div>
            <div
              id="collapseOne"
              class="collapse show"
              aria-labelledby="headingOne"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                <h5><span>1.</span> What is Martex and how does it work?</h5>
                <h6>
                  Sagittis congue augue egestas volutpat egestas magna suscipit
                  egestas magna ipsum vitae purus congue efficitur and ipsum
                  primis in cubilia laoreet augue egestas luctus donec and
                  curabitur dapibus
                </h6>
              </div>
              <div class="card-body">
                <h5><span>2.</span>What's inside the package?</h5>
                <h6>
                  Sagittis congue augue egestas volutpat egestas magna suscipit
                  egestas and magna ipsum vitae purus and efficitur ipsum primis
                  in cubilia laoreet tempor gravida congue laoreet turpis neque
                  auctor
                </h6>
  
                <h6>
                  Sapien egestas, congue gestas posuere cubilia congue ipsum
                  mauris undo lectus laoreet and gestas neque vitae auctor eros
                  dolor luctus placerat a magna cursus congue magna impedit ligula
                  congue maecenas
                </h6>
              </div>
              <div class="card-body">
                <h5><span>3.</span> Which languages does Martex support?</h5>
  
                <h6>
                  <span>.</span> Curabitur ac dapibus libero quisque eu congue
                  tristique neque. Phasellus blandit tristique justo aliquam
                  quisque aliquam vitae and molestie sapien nunc justo, aliquet
                  non molestie purus tempor
                </h6>
  
                <h6>
                  <span>.</span> Sagittis congue augue egestas volutpat egestas
                  magna suscipit egestas magna ipsum undo purus vitae efficitur
                  ipsum primis in cubilia laoreet augue donec egestas luctus
                  curabitur dapibus libero
                </h6>
              </div>
  
              <div class="card-body">
                <h5><span>4.</span> Automate testing with API</h5>
                <h6>
                  An augue cubilia laoreet and magna suscipit egestas magna ipsum
                  purus ipsum primis and augue ultrice ligula egestas suscipit
                  lectus gestas integer congue a lectus porta phasellus neque
                  blandit tristique
                </h6>
              </div>
            </div>
          </div>
          <div class="card" >
            <div class="card-header" id="headingTwo">
              <h2 class="mb-0">
                <button
                  type="button"
                  class="btn btn-link collapsed"
                  data-toggle="collapse"
                  data-target="#collapseTwo"
                >
                  <i class="icon_faq icofont-plus"></i>Is my data safe?
                </button>
              </h2>
            </div>
            <div
              id="collapseTwo"
              class="collapse"
              aria-labelledby="headingTwo"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                <h5><span>1.</span>&nbsp; Sign up and manage your account</h5>
  
                <h6>
                  <span>1.</span>&nbsp; Curabitur ac dapibus libero eu congue
                  tristique neque
                </h6>
  
                <h6>
                  <span>2.</span>&nbsp; Sagittis congue augue egestas volutpat
                  egestas
                </h6>
  
                <h6>
                  <span>3.</span>&nbsp; An aliquam justo suscipit congue augue
                </h6>
  
                <h6><span>4.</span>&nbsp; Gestas integer congue a lectus porta</h6>
              </div>
              <div class="card-body">
                <h5><span> 2.</span>&nbsp; Manage account settings Sagittis</h5>
  
                <h6>
                  congue augue egestas volutpat egestas magna suscipit egestas
                  magna ipsum vitae purus congue and efficitur ipsum primis in
                  cubilia laoreet augue egestas luctus donec and curabitur dapibus
                </h6>
              </div>
              <div class="card-body" >
                <h5>
                  <span> 3.</span>&nbsp; Change language or location settings
                </h5>
  
                <h6>
                  Sapien egestas, congue gestas posuere cubilia congue ipsum
                  mauris lectus laoreet gestas neque pulvinar vitae auctor eros
                  dolor luctus placerat a magna cursus congue magna nihil mpedit
                  ligula congue. Maecenas gravida porttitor nunc, quis vehicula
                  magna luctus tempor. Quisque vel laoreet turpis. Viverra augue
                  augue eget, dictum tempor diam. Sed pulvinar a consectetur nibh,
                  imperdiet varius viverra
                </h6>
              </div>
              <div class="card-body" >
                <h5><span> 4.</span>&nbsp; Troubleshoot account issues</h5>
  
                <h6>
                  An augue cubilia laoreet and magna suscipit egestas magna ipsum
                  purus ipsum primis and augue ultrice ligula egestas suscipit
                  lectus gestas integer congue a lectus porta phasellus neque
                  blandit tristique
                </h6>
  
                <h6>
                  Sagittis congue augue egestas volutpat egestas magna suscipit
                  egestas and magna ipsum vitae
                </h6>
  
                <h6>
                  Sagittis congue augue egestas volutpat egestas and magna
                  suscipit egestas magna ipsum vitae efficitur purus congue ipsum
                  primis in cubilia laoreet augue egestas luctus donec and
                  curabitur dapibus
                </h6>
              </div>
              <div class="card-body">
                <h5><span> 5.</span>&nbsp; Manage accessibility settings</h5>
  
                <h6>
                  Sapien egestas, congue gestas posuere cubilia congue ipsum
                  mauris lectus laoreet at gestas neque cubilia vitae auctor eros
                  dolor luctus placerat a magna cursus congue magna nihil mpedit
                  ligula congue. Maecenas gravida porttitor nunc, quis vehicula
                  magna luctus tempor. Quisque vel laoreet turpis augue
                </h6>
  
                <!-- Text -->
                <h6>
                  Sagittis congue augue egestas volutpat egestas magna suscipit
                  egestas and magna ipsum and vitae purus efficitur ipsum primis
                  in cubilia laoreet tempor gravida sapien cursus congue magna
                  purus quaerat
                </h6>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h2 class="mb-0">
                <button
                  type="button"
                  class="btn btn-link collapsed"
                  data-toggle="collapse"
                  data-target="#collapseThree"
                >
                  <i class="icon_faq icofont-plus"></i> Have any other questions?
                </button>
              </h2>
            </div>
            <div
              id="collapseThree"
              class="collapse"
              aria-labelledby="headingThree"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                <h5><span>1.</span>&nbsp; How much does Martex cost ?</h5>
                <h6>
                  1. How much does Martex cost? An augue cubilia laoreet and magna
                  suscipit egestas magna ipsum purus ipsum primis and augue
                  ultrice ligula egestas suscipit lectus gestas integer congue a
                  lectus porta phasellus neque blandit tristique
                </h6>
              </div>
              <div class="card-body">
                <h5>
                  <span>2.</span>&nbsp; Do you offer discounts for annual plans ?
                </h5>
                <h6>
                  Sagittis congue augue egestas volutpat egestas magna suscipit
                  egestas and magna ipsum vitae
                </h6>
                <h6>
                  Sagittis congue augue egestas volutpat egestas and magna
                  suscipit egestas magna ipsum vitae purus congue efficitur ipsum
                  primis in cubilia laoreet augue egestas luctus donec and
                  curabitur dapibus
                </h6>
              </div>
              <div class="card-body">
                <h5>
                  <span>3.</span>&nbsp; I didn't receive the license key after
                  purchased ?
                </h5>
                <h6>
                  Curabitur ac dapibus libero. Quisque eu congue tristique neque
                  phasellus blandit tristique justo aliquam. Aliquam vitae undo
                  molestie nunc. Quisque sapien justo, aliquet non molestie purus
                  tempor
                </h6>
                <h6>
                  Sagittis congue augue egestas volutpat egestas magna suscipit
                  egestas magna ipsum vitae purus undo efficitur ipsum primis in
                  cubilia laoreet augue egestas luctus donec curabitur dapibus
                  libero
                </h6>
              </div>
              <div class="card-body">
                <h5><span>4.</span>&nbsp; I can't activate Martex ?</h5>
                <h6>
                  Sapien egestas, congue gestas posuere cubilia congue ipsum
                  mauris lectus laoreet gestas neque pulvinar vitae auctor eros
                  dolor luctus placerat a magna cursus congue magna nihil mpedit
                  ligula congue. Maecenas gravida porttitor nunc, quis vehicula
                  magna luctus tempor. Quisque vel laoreet turpis. Viverra augue
                  augue eget, dictum tempor diam. Sed pulvinar a consectetur nibh,
                  imperdiet varius viverra
                </h6>
  
                <!-- Text -->
                <h6>
                  Sagittis congue augue egestas volutpat egestas magna suscipit
                  egestas and magna ipsum vitae purus and efficitur ipsum primis
                  in cubilia laoreet tempor gravida
                </h6>
              </div>
              <div class="card-body">
                <h5><span>5.</span>&nbsp; How to request a refund ?</h5>
                <h6>Curabitur ac dapibus libero. Quisque eu congue tristique</h6>
                <h6>
                  Congue tristique neque phasellus blandit tristique justo undo
                  aliquam aliquam vitae molestie quisque sapien justo, aliquet non
                  molestie purus tempor
                </h6>
                <h6>
                  Sagittis congue augue egestas volutpat egestas magna suscipit
                  egestas magna ipsum
                </h6>
              </div>
            </div>
          </div>
          <div class="card" >
            <div class="card-header" id="headingFour">
              <h2 class="mb-0">
                <button
                  type="button"
                  class="btn btn-link collapsed"
                  data-toggle="collapse"
                  data-target="#collapseFour"
                >
                  <i class="icon_faq icofont-plus"></i>Can I upgrade or downgrade
                  anytime?
                </button>
              </h2>
            </div>
            <div
              id="collapseFour"
              class="collapse"
              aria-labelledby="headingFour"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                <h5><span>1.</span>Copyright and rights management</h5>
                <h6>
                  Sapien egestas, congue gestas posuere cubilia congue ipsum
                  mauris lectus laoreet gestas neque pulvinar vitae auctor eros
                  dolor luctus placerat a magna cursus congue magna nihil mpedit
                  ligula congue. Maecenas gravida porttitor nunc, quis vehicula
                  magna luctus tempor. Quisque vel laoreet turpis. Viverra augue
                  augue eget, dictum tempor diam. Sed pulvinar a consectetur nibh,
                  imperdiet varius viverra
                </h6>
              </div>
              <div class="card-body">
                <h5><span>2.</span> Manage privacy settings</h5>
                <h6>
                  Sagittis congue augue egestas volutpat egestas magna suscipit
                  egestas magna ipsum vitae purus congue efficitur ipsum and
                  primis undo cubilia a laoreet augue egestas luctus donec and
                  curabitur dapibus
                </h6>
                <h6>Gestas integer congue a lectus porta</h6>
                <h6>An aliquam justo suscipit congue augue</h6>
                <h6>Sagittis congue augue egestas volutpat egestas</h6>
              </div>
              <div class="card-body">
                <h5><span>3.</span>Change your subscription privacy settings</h5>
                <h6>
                  Sapien egestas, congue gestas posuere cubilia congue ipsum
                  mauris lectus laoreet and gestas neque vitae auctor eros dolor
                  luctus placerat a magna cursus congue magna nihil mpedit ligula
                  congue maecenas undo gravida porttitor nunc, quis vehicula magna
                  luctus tempor. Quisque vel laoreet turpis augue
                </h6>
                <h6>
                  Congue tristique neque phasellus blandit tristique justo undo
                  aliquam aliquam vitae molestie quisque and sapien justo, aliquet
                  non molestie purus tempor
                </h6>
                <h6>
                  Sagittis congue augue egestas volutpat egestas magna suscipit
                  egestas magna ipsum
                </h6>
              </div>
              <div class="card-body">
                <h5><span>4.</span>Protecting your identity</h5>
                <h6>
                  Sapien egestas, congue gestas posuere cubilia congue ipsum
                  mauris lectus laoreet gestas neque pulvinar vitae auctor eros
                  dolor luctus placerat a magna cursus congue magna nihil mpedit
                  ligula congue. Maecenas gravida porttitor nunc, quis vehicula
                  magna luctus tempor. Quisque vel laoreet turpis. Viverra augue
                  augue eget, dictum tempor diam. Sed pulvinar a consectetur nibh,
                  imperdiet varius viverra
                </h6>
  
                <!-- Text -->
                <h6>
                  Sagittis congue augue egestas volutpat egestas magna suscipit
                  egestas and magna ipsum vitae purus and efficitur ipsum primis
                  in cubilia laoreet tempor gravida
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- container end -->
  </section>
  <!-- FAQ-Section end -->
  
  <section class="row_am about_app_section" data-aos="fade-right"  data-aos-duration="1500">
    <!-- container start -->
    <div class="container">
      <!-- row start -->
      <div class="row">
        <div class="col-lg-12">
          <div class="about_text">
            <div class="section_title">
              <ul class="app_statstic" id="counter">
                <li>
                  <div class="text">
                    <p>
                      <span class="counter-value" data-count="1">0</span
                      ><span>K+</span>
                    </p>
                    <p>Happy Costumers</p>
                  </div>
                </li>
                <li>
                  <div class="text">
                    <p>
                      <span class="counter-value" data-count="76">0 </span
                      ><span>%</span>
                    </p>
                    <p>Positive Ratings</p>
                  </div>
                </li>
                <li>
                  <div class="text">
                    <p>
                      <span class="counter-value" data-count="4.5">0</span
                      ><span> <i class="bi bi-star-fill text-warning"></i></span>
                    </p>
                    <!-- <p>
                      <i class="bi bi-star-fill text-warning"></i>
                      <i class="bi bi-star-fill text-warning"></i>
                      <i class="bi bi-star-fill text-warning"></i>
                      <i class="bi bi-star-half text-warning"></i>
                      <i class="bi bi-star-half text-warning"></i>
                    </p> -->
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>