<!-- BredCrumb-Section -->
<div class="bred_crumb">
    <div class="container">
      <!-- shape animation  -->
      <span class="banner_shape1">
        <img src="./assets/images/banner-shape1.png" alt="image" />
      </span>
      <span class="banner_shape2">
        <img src="./assets/images/banner-shape2.png" alt="image" />
      </span>
      <span class="banner_shape3">
        <img src="./assets/images/banner-shape3.png" alt="image" />
      </span>
  
      <div class="bred_text">
        <h1>Appointment</h1>
      </div>
    </div>
  </div>
  <!-- App-Solution-Section-Start -->
  <section class="row_am app_solution_section">
    <!-- container start -->
    <div class="container">
      <!-- row start -->
      <div class="row">
        <div class="col-lg-6" >
          <!-- UI content -->
          <div class="app_text">
            <div class="section_title" >
              <h2 data-aos="fade-right"  data-aos-duration="1500">
                <span>Data-driven digital marketing </span></h2>
            </div>
            <p data-aos="fade-right"  data-aos-duration="1500">
              Tempor sapien quaerat undo ipsum laoreet purus and sapien dolor
              ociis ultrice ipsum aliquam undo congue dolor cursus congue varius
              magnis
            </p>
            <p data-aos="fade-right"  data-aos-duration="1500">
              Cursus purus suscipit vitae cubilia magnis diam volute egestas
              sapien ultrice auctor
            </p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="app-images app_images"  data-aos="fade-left"  data-aos-duration="1500">
            <ul>
              <li>
                <img
                class="moving_position_animatin"
                  src="https://salonplus.app/Content/assets/images/img-14.png"
                  alt="photo"
                />
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- row end -->
    </div>
    <!-- container end -->
  </section>
  <!-- App-Solution-Section-end -->
  