   <!-- BredCrumb-Section -->
   <div class="bred_crumb">
    <div class="container">
      <!-- shape animation  -->
      <span class="banner_shape1"> <img src="./assets/images/banner-shape1.png" alt="image" > </span>
      <span class="banner_shape2"> <img src="./assets/images/banner-shape2.png" alt="image" > </span>
      <span class="banner_shape3"> <img src="./assets/images/banner-shape3.png" alt="image" > </span>

      <div class="bred_text">
        <h1>About us</h1>
      </div>
    </div>
  </div>


  <!-- About-App-Section-Start -->
<section class="row_am app_solution_section">
    <!-- container start -->
    <div class="container">
      <!-- row start -->
      <div class="row">
        <div class="col-lg-6">
          <!-- UI content -->
          <div class="app_text">
            <div class="section_title"  data-aos="fade-right"  data-aos-duration="1500">
              <h2><span>About Us.</span></h2>
  
              <p  data-aos="fade-right"  data-aos-duration="1500">
                We provide you with an array of different features to make your
                salon management an easy task. We are business automated and are
                always ready to customize your software according to your needs
                and business type. With SalonPlus you don’t need to worry about
                your bills, clients, employees because its all available to you in
                a very systematic order.
              </p>
              <ul class="design_block">
                <h2 data-aos="fade-right"  data-aos-duration="1500">
                  <span>Digits that define growth</span></h2>
                <li>
                  <p data-aos="fade-right"  data-aos-duration="1500"> 
                    <i class="bi bi-check2-circle"></i>&nbsp;
                    SalonPlus is Customizable, Affordable and Business Automated
                    for your salon.
                  </p>
                </li>
                <li data-aos="fade-right"  data-aos-duration="1500">
                  <p> <i class="bi bi-check2-circle"></i>&nbsp;
                    SalonPlus is highly user friendly and is here to make your
                    business processing smooth.
                  </p>
                </li>
                <li data-aos="fade-right"  data-aos-duration="1500">
                  <p> <i class="bi bi-check2-circle"></i>&nbsp;
                    With SalonPlus, managing your salon business becomes
                    effortless and hassle-free.
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="app_images" data-aos="fade-left"  data-aos-duration="1500">
            <ul>
              <li data-aos="fade-left"  data-aos-duration="1500">
                <img
                  class="moving_position_animatin"
                  src="https://salonplus.app/Content/assets/images_2/Images/Salon_plus_whatsapp_screen.png?format=jpg"
                  alt="photo"
                />
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="row_am modern_ui_section">
    <!-- container start -->
    <div class="container">
      <!-- row start -->
      <div class="row">
       
        <div class="col-lg-6" data-aos="fade-right"  data-aos-duration="1500">
          <!-- UI content -->
          <div class="ui_text" >
            <div class="section_title" data-aos="fade-right"  data-aos-duration="1500">
              <h2><span>Solution that grows with you</span></h2>
              <p>
                Our Salon software solutions are tailored to meet the specific
                needs of your business. With SalonPlus, you can effectively manage
                your appointments, eliminating any wasted time in your schedule.
              </p>
            
            <ul>
            <h2 data-aos="fade-right"  data-aos-duration="1500">
              <span>Connect your data sources</span></h2>
              <li>
                <p data-aos="fade-right"  data-aos-duration="1500">
                  <i class="bi bi-check2-circle"></i>&nbsp;
                  Whether you operate multiple branches or have large staff,
                  SalonPlus is designed to support your needs without any
                  disappointments. Our software ensures convenient access from
                  anywhere and at any time, requiring only an internet connect.
                </p>
              </li>
              <li data-aos="fade-right"  data-aos-duration="1500">
                <p><i class="bi bi-check2-circle"></i>&nbsp;
                  We bring the salon services to your fingertips, connecting you
                  with the expert stylists, and arange of exceptional services.
                </p>
              </li>
              <li data-aos="fade-right"  data-aos-duration="1500">
                <p><i class="bi bi-check2-circle"></i>&nbsp;
                  We understand that finding the perfect salon and stylist can be
                  a time-consuming process, which is why we have created a
                  user-friendly platform that simplifies the entire journey
                </p>
              </li>
            </ul>
          </div>
          </div>
        </div>
        <div class="col-lg-6" data-aos="fade-left"  data-aos-duration="1500">
       
          <div class="ui_images">
      
            <div class="left_img" data-aos="fade-left"  data-aos-duration="1500">
              <img
                class="moving_position_animatin"
                src="https://salonplus.app/Content/assets/images_2/Images/Feature_screen_Salon_plus.png?width=602&format=jpg"
                alt="image"
              />
            </div>
          </div>
        </div>
       
        
      </div>
   
    </div>
   
  </section>