<!-- BredCrumb-Section -->
<div class="bred_crumb">
    <div class="container">
      <!-- shape animation  -->
      <span class="banner_shape1">
        <img src="./assets/images/banner-shape1.png" alt="image" />
      </span>
      <span class="banner_shape2">
        <img src="./assets/images/banner-shape2.png" alt="image" />
      </span>
      <span class="banner_shape3">
        <img src="./assets/images/banner-shape3.png" alt="image" />
      </span>
  
      <div class="bred_text">
        <h1>Billing</h1>
      </div>
    </div>
  </div>
  
  <!-- Blog-Detail-Section-Start -->
  <section class="row_am blog_list_main">
    <!-- container start -->
    <div class="container">
      <!-- row start -->
      <div class="row">
        <div class="col-lg-6">
          <div class="blog_text">
            <span class="choice_badge">Features</span>
            <div class="section_title">
              <p>
                A salon app typically provides a platform for salon owners,
                stylists, and customers to connect and streamline the salon
                experience. Here are some common features you might find in a
                salon app:
              </p>
              <p data-aos="fade-right"  data-aos-duration="1500">
                <i class="bi bi-check2-circle"></i>&nbsp;Pricing and Tax
                Calculation
              </p>
              <p data-aos="fade-right"  data-aos-duration="1500">
                <i class="bi bi-check2-circle"></i>&nbsp;Multiple Payment Options
              </p >
              <p data-aos="fade-right"  data-aos-duration="1500">
                <i class="bi bi-check2-circle"></i>&nbsp;Online Payments</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6" data-aos="fade-left"  data-aos-duration="1500">
          <!-- ... (carousel content) ... -->
          <div class="container">
            <div class="row">
              <div
                id="myCarousel"
                class="carousel slide"
                data-ride="carousel"
                data-interval="3000"
              >
                <!-- Indicators -->
                <ul class="carousel-indicators">
                  <li
                    data-target="#myCarousel"
                    data-slide-to="0"
                    class="active"
                  ></li>
                  <li data-target="#myCarousel" data-slide-to="1"></li>
                  <li data-target="#myCarousel" data-slide-to="2"></li>
                  <li data-target="#myCarousel" data-slide-to="3"></li>
                  <li data-target="#myCarousel" data-slide-to="4"></li>
                  <li data-target="#myCarousel" data-slide-to="5"></li>
                  <li data-target="#myCarousel" data-slide-to="6"></li>
                  <li data-target="#myCarousel" data-slide-to="7"></li>
                  <li data-target="#myCarousel" data-slide-to="8"></li>
                </ul>
  
                <!-- Slides -->
                <div class="carousel-inner pb-5">
                  <div class="carousel-item active">
                    <div class="card">
                      <div class="card-body card_body">
                        <p class="card-title card_title">
                          <i class="icofont-quote-left"></i>&nbsp;
                          Experience the seamless 
                          functionality of our dashboard, 
                          providing a comprehensive summary 
                          of your day-to-day activities.
                          &nbsp;<i class="icofont-quote-right"></i>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="card">
                      <div class="card-body card_body">
                        
                        <p class="card-title card_title">
                          <i class="icofont-quote-left"></i>&nbsp;
                          Experience the seamless 
                          functionality of our dashboard, 
                          providing a comprehensive summary 
                          of your day-to-day activities.
                          &nbsp;<i class="icofont-quote-right"></i>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="card">
                      <div class="card-body card_body">
                        <p class="card-title card_title">
                          <i class="icofont-quote-left"></i>&nbsp;
                          Experience a superior salon journey as we revolutionize
                          the 
                          way you book appointment, making it seamless and 
                          hassle-free.
                          &nbsp;<i class="icofont-quote-right"></i>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="card">
                      <div class="card-body card_body">
                        <p class="card-title card_title">
                          <i class="icofont-quote-left"></i>&nbsp;
                          With SalonPlus Customer Management, effortlessly
                          track 
                          comprehensive information for every customer in your
                          salon.
                          &nbsp;<i class="icofont-quote-right"></i>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="card">
                      <div class="card-body card_body">
                        <p class="card-title card_title">
                          <i class="icofont-quote-left"></i>&nbsp;
                          Efficiently track your membership customers with our 
                          comprehensive software.
                          &nbsp;<i class="icofont-quote-right"></i>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="card">
                      <div class="card-body card_body">
                        <p class="card-title card_title">
                          <i class="icofont-quote-left"></i>&nbsp;
                          Our software offers effective employee management 
                          capabilities, allowing you to efficiently track and
                          oversee
                          your staff.
                          &nbsp;<i class="icofont-quote-right"></i>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="card">
                      <div class="card-body card_body">
                        <p class="card-title card_title">
                          <i class="icofont-quote-left"></i>&nbsp;
                          Access a comprehensive list of invoices all in one 
                          convenient location.
                          &nbsp;<i class="icofont-quote-right"></i>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="card">
                      <div class="card-body card_body">
                        <p class="card-title card_title">
                          <i class="icofont-quote-left"></i>&nbsp;
                          Effortlessly create your invoices with our intuitive 
                          “Create invoice” feature.
                          &nbsp;<i class="icofont-quote-right"></i>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="card">
                      <div class="card-body card_body">
                        <p class="card-title card_title">
                          <i class="icofont-quote-left"></i>&nbsp;
                          Explore our comprehensive reports section, where
                          you can access valuable 
                          insights on your salon’s performance
                          &nbsp;<i class="icofont-quote-right"></i>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
  
                <!-- Controls -->
  
                <a
                  class="carousel-control-prev"
                  href="#myCarousel"
                  data-slide="prev"
                >
                  <span class="carousel-control-prev-icon"></span>
                </a>
                <a
                  class="carousel-control-next"
                  href="#myCarousel"
                  data-slide="next"
                >
                  <span class="carousel-control-next-icon"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- row end -->
    </div>
    <!-- container end -->
  </section>
  <!-- Blog-Detail-Section-end -->
  
  <!--Review List Section Start-->
  <section class="row_am review_list_section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6" data-aos="fade-right"  data-aos-duration="1500">
          <div class="review_box">
            <div class="rating">
              <ul>
                <li>
                  <span><i class="icofont-star"></i></span>
                </li>
                <li>
                  <span><i class="icofont-star"></i></span>
                </li>
                <li>
                  <span><i class="icofont-star"></i></span>
                </li>
                <li>
                  <span><i class="icofont-star"></i></span>
                </li>
                <li>
                  <span><i class="icofont-star"></i></span>
                </li>
              </ul>
            </div>
            <h3>Dashboard</h3>
            <p>
              Easily monitor membership balances directly from the dashboard. With
              a clear breakdown for walk-in customers, membership customers, and
              product sales, you can efficiently analyse your salon's performance.
            </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6" data-aos="fade-left"  data-aos-duration="1500">
          <div class="review_box">
            <div class="rating">
              <ul>
                <li>
                  <span><i class="icofont-star"></i></span>
                </li>
                <li>
                  <span><i class="icofont-star"></i></span>
                </li>
                <li>
                  <span><i class="icofont-star"></i></span>
                </li>
                <li>
                  <span><i class="icofont-star"></i></span>
                </li>
                <li>
                  <span><i class="icofont-star"></i></span>
                </li>
              </ul>
            </div>
            <h3>Appointment booking</h3>
            <p>
              Our salon software simplifies the entire process, providing
              effortless convenience for both salon owners and clients. Bid
              farewell to manual booking systems and embrace our user-friendly
              interface that streamlines appointment management
            </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6" data-aos="fade-right"  data-aos-duration="1500">
          <div class="review_box">
            <div class="rating">
              <ul>
                <li>
                  <span><i class="icofont-star"></i></span>
                </li>
                <li>
                  <span><i class="icofont-star"></i></span>
                </li>
                <li>
                  <span><i class="icofont-star"></i></span>
                </li>
                <li>
                  <span><i class="icofont-star"></i></span>
                </li>
                <li>
                  <span><i class="icofont-star"></i></span>
                </li>
              </ul>
            </div>
            <h3>C M S</h3>
            <p>
              With SalonPlus Customer Management, effortlessly track comprehensive
              information for every customer in your salon. Easily keep track of
              your customer’s previous invoices, monitor their membership balance
              and seamlessly create new customer profiles.
            </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6" data-aos="fade-left"  data-aos-duration="1500">
          <div class="review_box">
            <div class="rating">
              <ul>
                <li>
                  <span><i class="icofont-star"></i></span>
                </li>
                <li>
                  <span><i class="icofont-star"></i></span>
                </li>
                <li>
                  <span><i class="icofont-star"></i></span>
                </li>
                <li>
                  <span><i class="icofont-star"></i></span>
                </li>
                <li>
                  <span><i class="icofont-star"></i></span>
                </li>
              </ul>
            </div>
            <h3>Membership Feature</h3>
            <p>
              Our software provides a membership list, allowing you to view and
              manage your members effectively. Additionally, you have access to
              their invoices, enabling seamless tracking of their transactions.
            </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6" data-aos="fade-right"  data-aos-duration="1500">
          <div class="review_box">
            <div class="rating">
              <ul>
                <li>
                  <span><i class="icofont-star"></i></span>
                </li>
                <li>
                  <span><i class="icofont-star"></i></span>
                </li>
                <li>
                  <span><i class="icofont-star"></i></span>
                </li>
                <li>
                  <span><i class="icofont-star"></i></span>
                </li>
                <li>
                  <span><i class="icofont-star"></i></span>
                </li>
              </ul>
            </div>
            <h3>Employee Management</h3>
            <p>
              Easily monitor their availability, access their salary records and
              manage their profiles with utmost convenience. With just a few
              clicks, you can create new employee profiles, ensuring a streamlined
              onboarding process.
            </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6" data-aos="fade-left"  data-aos-duration="1500">
          <div class="review_box">
            <div class="rating">
              <ul>
                <li>
                  <span><i class="icofont-star"></i></span>
                </li>
                <li>
                  <span><i class="icofont-star"></i></span>
                </li>
                <li>
                  <span><i class="icofont-star"></i></span>
                </li>
                <li>
                  <span><i class="icofont-star"></i></span>
                </li>
                <li>
                  <span><i class="icofont-star"></i></span>
                </li>
              </ul>
            </div>
            <h3>Invoice management</h3>
            <p>
              Gain complete visibility into customer details and their respective
              invoices. Our software provides separate sections for walk-in
              customers and membership customers, ensuring organized and
              streamline invoice tracking.
            </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6" data-aos="fade-right"  data-aos-duration="1500">
          <div class="review_box">
            <div class="rating">
              <ul>
                <li>
                  <span><i class="icofont-star"></i></span>
                </li>
                <li>
                  <span><i class="icofont-star"></i></span>
                </li>
                <li>
                  <span><i class="icofont-star"></i></span>
                </li>
                <li>
                  <span><i class="icofont-star"></i></span>
                </li>
                <li>
                  <span><i class="icofont-star"></i></span>
                </li>
              </ul>
            </div>
            <h3>Create invoice</h3>
            <p>
              Enjoy a seamless experience as you effortlessly generate and
              document day-to day invoices. Say goodbye to the complexities of
              manual invoicing and embrace the simplicity and efficiency of our
              software.
            </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6" data-aos="fade-left"  data-aos-duration="1500">
          <div class="review_box">
            <div class="rating">
              <ul>
                <li>
                  <span><i class="icofont-star"></i></span>
                </li>
                <li>
                  <span><i class="icofont-star"></i></span>
                </li>
                <li>
                  <span><i class="icofont-star"></i></span>
                </li>
                <li>
                  <span><i class="icofont-star"></i></span>
                </li>
                <li>
                  <span><i class="icofont-star"></i></span>
                </li>
              </ul>
            </div>
            <h3>Report</h3>
            <p>
              Additionally, our software provides an invoice payment report,
              enabling you to track and monitor payment statuses with ease. With
              these reports, you can make informed decisions, identify areas for
              improvement and operations for greater success.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Review List Section End -->
  
 <!-- How-It-Workes-Section-Start -->
 <section class="row_am how_it_works" id="how_it_work">
  <!-- container start -->
  <div class="container">
    <div class="how_it_inner">
      <div class="section_title" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="300">
        <!-- h2 -->
        <h2><span>How it works</span> - 3 easy steps</h2>
        <!-- p -->
        <!-- <p>Lorem Ipsum is simply dummy text of the printing and typese tting <br> indus orem Ipsum has beenthe
          standard dummy.</p> -->
      </div>
      <div class="step_block">

      <!-- row start -->
      <div class="row ">
        <!-- step box -->
        <div class="col-md-4 col-sm-12">
          <div class="step_box">
            <!-- icon -->
              <div class="step_img" data-aos="fade-left" data-aos-duration="1500">
                <img src="./assets/images/step1.png" alt="image" >
                <div class="step_number">
                <h3>01</h3>
                </div>
              </div>
              <!-- text -->
              <div class="step_text" data-aos="fade-right" data-aos-duration="1500">
                <h3>Pricing and Tax Calculation:
                  
                  </h3>
                <!-- <div class="app_icon">
                  <a href="#"><i class="icofont-brand-android-robot"></i></a>
                  <a href="#"><i class="icofont-brand-apple"></i></a>
                  <a href="#"><i class="icofont-brand-windows"></i></a>
                </div> -->
                <p class="pt-3">The "Create Invoice" feature automatically calculates the total cost of services or products, factoring in applicable taxes or discounts. This helps to minimize errors and saves time on manual calculations..
                </p>
              </div>
          </div>
        </div>

        <!-- step box -->
        <div class="col-md-4 col-sm-12">
          <div class="step_box">
            <!-- icon -->
              <div class="step_img" data-aos="fade-left" data-aos-duration="1500">
                <img src="./assets/images/step2.png" alt="image" >
                <div class="step_number">
                <h3>02</h3>
                </div>
              </div>
              <!-- text -->
              <div class="step_text step2" data-aos="fade-right" data-aos-duration="1500">
                <h3>Multiple Payment Options:</h3>
                  <!-- <span>14 days free trial</span> -->
                  <p>
                    The "Create Invoice" feature supports various payment methods, including cash, card payments, digital wallets, or salon-specific payment systems. This flexibility allows salon owners to accommodate their clients' preferred payment methods.</p>
              </div>
          </div>
        </div>

        <!-- step box -->
        <div class="col-md-4 col-sm-12">
          <div class="step_box">
            <!-- icon -->
              <div class="step_img" data-aos="fade-left" data-aos-duration="1500">
                <img src="./assets/images/step3.png" alt="image" >
                <div class="step_number">
                <h3>03</h3>
                </div>
              </div>
              <!-- text -->
              <div class="step_text step3" data-aos="fade-right" data-aos-duration="1500">
                <h3 class="pb-4">Online Payments:</h3>
                  <!-- <span>Have any questions check our FAQs</span> -->
                  <p>
                    Integration with popular payment gateways allows customers to make secure payments directly within the app. This can include options for credit/debit card payments, digital wallets, or even salon-specific memberships.</p>
              </div>
          </div>
        </div>

    </div>

      </div>
    </div>

  </div>
  <!-- container end -->
</section>
<!-- How-It-Workes-Section-end -->
  