<form class="form-container" action="#">
  <div class="container">
    <div class="form-row row">
      <div class="col-md-6 offset-md-3">
        <div class="contact-form">
          <div class="section_title">
            <div class="form-header">
              <h3>GET IN TOUCH</h3>
              <button class="close">
                <i class="icofont-close"></i>
              </button>
            </div>
          </div>
          <div class="form-group">
            <input type="text" placeholder="Name" class="form-control" />
          </div>
          <div class="form-group">
            <input type="email" placeholder="E-mail" class="form-control" />
          </div>
          <div class="form-group">
            <input type="text" placeholder="Contact-No" class="form-control" />
          </div>
          <div class="form-group">
            <input type="text" placeholder="Subject" class="form-control" />
          </div>
          <div class="form-group">
            <textarea class="form-control" placeholder="Message"></textarea>
          </div>
          <div class="form-group mb-0">
            <button type="submit" class="btn white_btn">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<style>
  
/* header button click form css  */



.form-container {
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    padding: 20px;
    align-items: center;
    background: #6a4be494;

}



.form-container .contact-form {
    background-color: #fff;
    border: 2px solid #E1DBF4;
    padding: 50px 60px;
    border-radius: 22px;
    box-shadow: 0 4px 10px #EDE9FE;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-weight: 500;

}

.form-header {
    padding-top: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-header h3 {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 20px;
    margin: 0;
    padding-bottom: 8%;
    color: rgb(72, 37, 215);
}


.close {
    background: none;
    color: red;
    border: none;
    cursor: pointer;
    font-size: 40px;
}

.icofont-close:before {
    top: 25px;
    position: absolute;
}


.form-control {
    width: 100%;
    height: 67px;
    padding: 10px;
    margin-bottom: 10px;
    border: 4px solid #792edf42;
    border-radius: 10px;
}



.form-container .form-group {
    margin-bottom: 20px;
}

/* Responsive styles for screens */
@media (max-width: 1200px) {
    .container {
        height: 100%;
        width: 100%;
        position: relative;
    }

    .form-row {
        position: inherit;
        align-items: center;
        justify-content: center;
    }
}


@media (max-width: 768px) {
    .form-container {
        padding: auto;
    }

    .form-header h3 {
        font-size: 10px;
    }


    .form-control {
        width: 100%;
    }
}

/* header button click form css end  */
</style>