<!-- Header Start -->
<header>
  <!-- container start -->
  <div class="container">
    <!-- navigation bar -->
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="#">
        <img
          src="./assets/images/salon_plus.png"
          alt="image"
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon">
          <!-- <i class="icofont-navigation-menu ico_menu"></i> -->
          <div class="toggle-wrap">
            <span class="toggle-bar"></span>
          </div>
        </span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <!-- secondery menu start -->
          <!-- <li class="nav-item has_dropdown">
            <a class="nav-link" href="#">Home</a>
            <span class="drp_btn"><i class="icofont-rounded-down"></i></span>
            <div class="sub_menu">
              <ul>
                <li>
                  <a
                    href="http://kalanidhithemes.com/live-preview/landing-page/apper/all-demo/01-app-landing-page-defoult/index.html"
                    >Home Defoult</a
                  >
                </li>
                <li>
                  <a
                    href="http://kalanidhithemes.com/live-preview/landing-page/apper/all-demo/02-app-landing-page-dark-hero/index.html"
                    >Home Dark Hero</a
                  >
                </li>
                <li>
                  <a
                    href="http://kalanidhithemes.com/live-preview/landing-page/apper/all-demo/03-app-landing-page-wave-animation/index.html"
                    >Home Wave
                  </a>
                </li>
                <li>
                  <a
                    href="http://kalanidhithemes.com/live-preview/landing-page/apper/all-demo/04-app-landing-page-gredient-color/index.html"
                    >Home Gredient</a
                  >
                </li>
                <li><a href="index.html">Home Video</a></li>
                <li>
                  <a
                    href="http://kalanidhithemes.com/live-preview/landing-page/apper/all-demo/06-app-landing-page-video-hero-full-background/index.html"
                    >Home Video 2</a
                  >
                </li>
              </ul>
            </div>
          </li> -->
          <!-- secondery menu end -->
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/signup']">Signup</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/login']">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/about']">About Us</a>
          </li>

          <!-- secondery menu start -->
          <li class="nav-item has_dropdown">
            <a class="nav-link" href="#">Features</a>
            <span class="drp_btn"><i class="icofont-rounded-down"></i></span>
            <div class="sub_menu">
              <ul>
                <li><a [routerLink]="['/billing']">Billing</a></li>
                <li>
                  <a [routerLink]="['./email']">E-mail Notification</a>
                </li>
                <li><a href="Staff Attendance">Staff Attendance</a></li>
                <li><a href="Membership">Membership</a></li>
                <li><a href="Reward Point">Reward Point</a></li>
                <li><a href="Markiting Tools">Markiting Tools</a></li>
                <li>
                  <a href="Whatsapp Notification">Whatsapp Notification</a>
                </li>
                <li><a href="Auto Reporting">Auto Reporting</a></li>
                <li>
                  <a [routerLink]="['./appoiment']">Appointment</a>
                </li>
              </ul>
            </div>
          </li>
          <!-- secondery menu end -->

          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/pricing']">Pricing</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/contact']">Contact</a>
          </li>
          

          <!-- secondery menu start -->
          <!-- <li class="nav-item has_dropdown">
            <a class="nav-link" href="#">Blog</a>
            <span class="drp_btn"><i class="icofont-rounded-down"></i></span>
            <div class="sub_menu">
              <ul>
                <li><a href="blog-list.html">Blog List</a></li>
                <li><a href="blog-single.html">Blog Single</a></li>
              </ul>
            </div>
          </li> -->
          <!-- secondery menu end -->

          <!-- <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link dark_btn" [routerLink]="['/popup']">GET STARTED</a>
          </li>
          
         
        </ul>
      </div>
    </nav>
    <!-- navigation end -->
  </div>
  <!-- container end -->
</header>
<router-outlet></router-outlet>

<!-- Footer-Section start -->
<footer>
  <div class="top_footer" id="contact">
    <!-- container start -->
    <div class="container">
      <!-- row start -->
      <div class="row">
        <!-- footer link 1 -->
        <div class="col-lg-3 col-md-4 col-12 ">
          <div class="abt_side">
            <div class="logo">
              <img
                src="./assets/images/salon_plus_white.png"
                alt="image"
              />
              <p class="pt-3">
                At SalonPlus, we believe that beauty is more than just
                appearances; it's an expression of self-confidence and
                empowerment.
                <!--  Our mission is to provide you with a seamless and
                personalized beauty experience, right at your fingertips -->
              </p>
            </div>
            <!-- <ul>
              <li><a href="#">support@example.com</a></li>
              <li><a href="#">+1-900-123 4567</a></li>
            </ul> -->
            <ul class="social_media">
              <li>
                <a href="#"><i class="icofont-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="icofont-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="icofont-instagram"></i></a>
              </li>
              <li>
                <a href="#"><i class="icofont-pinterest"></i></a>
              </li>
            </ul>
          </div>
        </div>

      
        <div class="col-lg-3 col-md-4 col-12">
          <h3>Company Address</h3>
          <div class="links">
            <h3>
              Location: <br />
              <p>
                302, Surya Bageshwari, West Boring Canal Road, Patna, Bihar
                800001
              </p>
            </h3>

            <h3>
              Join Us: <br />
              <a href="https://info@dotplus.in/" target="_blank"
                >info@dotplus.in</a
              >
            </h3>

            <h3>
              Contact Number: <br />
              <a href="tel:9708200200"> +(91) 9708 200 200</a>
            </h3>
          </div>
        </div>

        <!-- footer link 3 -->
        <div class="col-lg-6 col-md-4 col-12">
          <div class="footer_map links">
            <h3>Connect With Us</h3>
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7195.285809066348!2d85.11447144181685!3d25.6167797340595!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x140d7e63465fa6ff%3A0x4ed4824e736f4f83!2sSurya%20Bageshwari!5e0!3m2!1sen!2sin!4v1695797306111!5m2!1sen!2sin"
              allowfullscreen=""
              loading="lazy"
              class="footer_map"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
        </div>

        <!-- footer link 4 -->
        <!-- <div class="col-lg-2 col-md-6 col-12">
          <div class="try_out">
            <h3>Let’s Try Out</h3>
            <ul class="app_btn">
              <li>
                <a href="#">
                  <img src="./assets/images/appstore_blue.png" alt="image" />
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="./assets/images/googleplay_blue.png" alt="image" />
                </a>
              </li>
            </ul>
          </div>
        </div> -->
      </div>
      <!-- row end -->
    </div>
    <!-- container end -->
  </div>

  <!-- last footer -->
  <div class="bottom_footer">
    <!-- container start -->
    <div class="container">
      <!-- row start -->
      <div class="row">
        <div class="col-md-6">
          <p>
            © 2023
            <a href="https://dotplus.in/" target="_blank"
              ><img
                src="https://dotplus.in/images/logo.png?width=75&height=27"
                alt="logo"
                class="footer-logo"
              />
              Technology,
            </a>

            All Rights Reserved.
          </p>
        </div>
        <div class="col-md-6">
          <ul class="footer_link" style="display: inline-flex">
            <li><a href="#" class="pr-2">Terms & Conditins</a></li>
            <li><a href="#" class="pr-2">Privacy Policy</a></li>
            <li><a href="#" class="pr-2">Refund Policy</a></li>
          </ul>
          <!-- <p class="developer_text">
            Design & developed by
            <a
              href="https://themeforest.net/user/kalanidhithemes"
              target="blank"
              >Kalanidhi Themes</a
            >
          </p> -->
        </div>
      </div>
      <!-- row end -->
    </div>
    <!-- container end -->
  </div>

  <!-- go top button -->
  <div class="go_top">
    <span><img src="./assets/images/go_top.png" alt="image" /></span>
  </div>
</footer>
<!-- Footer-Section end -->
