
  <div class="container pb-5 ">
    <section class="signup_section">
      <div class="top_part">
        <a href="index.html" class="back_btn"
          ></a
        >
        <a class="navbar-brand" href="#">
          <!-- <img src="./assets/images/footer_logo.png" alt="image" /> -->
        </a>
      </div>

      <!-- Comment Form Section -->
      <div class="signup_form">
        <div class="section_title">
          <h2><span>Create</span> an account</h2>
          <!-- <p>
            Fill all fields so we can get some info about you. <br />
            We'll never send you spam
          </p> -->
        </div>
        <form action="#">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Name" />
          </div>
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Email" />
          </div>
          <div class="form-group">
            <input
              type="password"
              class="form-control"
              placeholder="Password"
            />
          </div>
          <div class="form-group">
            <button class="btn white_btn" type="submit">SIGN UP</button>
          </div>
        </form>
        <p class="or_block">
          <span>OR</span>
        </p>
        <div class="or_option">
          <!-- <p>Sign up with your work email</p> -->
          <a href="#" class="btn google_btn"
            ><img src="./assets/images/google.png" alt="image" />
            <span>Sign Up with Google</span>
          </a>
          <p>
            Already have an account?
            <button class="btn white_btn" (click)="Login()">Sign In here</button>
          </p>
        </div>
      </div>
    </section>
  </div>

