<!-- Banner-Section-Start -->
<section class="banner_section">
  <!-- container start -->
  <div class="container">
    <!-- row start -->
    <div class="row">
      <div
        class="col-lg-6 col-md-12"
        data-aos="fade-right"
        data-aos-duration="1500"
      >
        <!-- banner text -->
        <div class="banner_text">
          <!-- h1 -->
          <h1></h1>
          <!-- h2 -->
          <h2><span>Everything For Your Salon & Spa!.</span></h2>
          <!-- p -->
          <p>
            Salonplus is an industry-leading salon software designed
            specifically for beauty businesses, including spas, massage parlors,
            and barber shops. It offers a comprehensive set of features to
            efficiently manage various operations related to both staff and
            customers.
          </p>
        </div>
        <!-- app buttons -->
        <!-- <ul class="app_btn">
          <li>
            <a href="#">
              <img
                class="blue_img"
                src="./assets/images/appstore_blue.png"
                alt="image"
              />
              <img
                class="white_img"
                src="./assets/images/appstore_white.png"
                alt="image"
              />
            </a>
          </li>
          <li>
            <a href="#">
              <img
                class="blue_img"
                src="./assets/images/googleplay_blue.png"
                alt="image"
              />
              <img
                class="white_img"
                src="./assets/images/googleplay_white.png"
                alt="image"
              />
            </a>
          </li>
        </ul> -->

        <!-- users -->
        <!-- <div class="used_app">
          <ul>
            <li><img src="./assets/images/used01.png" alt="image" /></li>
            <li><img src="./assets/images/used02.png" alt="image" /></li>
            <li><img src="./assets/images/used03.png" alt="image" /></li>
            <li><img src="./assets/images/used04.png" alt="image" /></li>
          </ul>
          <p>
            12M +  
            used this app
          </p>
        </div> -->
      </div>

      <!-- banner slides start -->
      <div
        class="col-lg-6 col-md-12"
        data-aos="fade-in"
        data-aos-duration="1500"
      >
        <div class="banner_image moving_position_animatin">
          <img src="https://salonplus.app/Content/assets/images_2/Banner/salon_girl-012.png?width=632&format=jpg" alt="image" />

          <!-- video section start -->
          <!-- <div class="yt_video">
            <div class="thumbnil">
              <a
                class="popup-youtube play-button"
                data-toggle="modal"
                data-target="#myModal"
                title="XJj2PbenIsU"
              >
                <span class="play_btn">
                  <img src="https://salonplus.app/Content/assets/images_2/Banner/salon_girl-012.png?width=632&format=jpg" alt="image" />
                  <div class="waves-block">
                    <div class="waves wave-1"></div>
                    <div class="waves wave-2"></div>
                    <div class="waves wave-3"></div>
                  </div>
                </span>
              </a>
            </div>
          </div> -->
          <!-- video section end -->
        </div>
      </div>
      <!-- banner slides end -->
    </div>
    <!-- row end -->
  </div>
  <!-- container end -->
</section>
<!-- Banner-Section-end -->
<section class="row_am app_solution_section">
  <!-- container start -->
  <div class="container">
    <!-- row start -->
    <div class="row">
      <div class="col-lg-6">
        <!-- UI content -->
        <div class="app_text">
          <div
            class="section_title"
            data-aos="fade-right"
            data-aos-duration="1500"
          >
            <h2 data-aos="fade-right" data-aos-duration="1500">
              <span>About Us.</span>
            </h2>

            <p data-aos="fade-right" data-aos-duration="1500">
              We provide you with an array of different features to make your
              salon management an easy task. We are business automated and are
              always ready to customize your software according to your needs
              and business type.
              <!--  With SalonPlus you don’t need to worry about
              your bills, clients, employees because its all available to you in
              a very systematic order. -->
            </p>
            <ul
              class="design_block"
              data-aos="fade-right"
              data-aos-duration="1500"
            >
              <h2 data-aos="fade-right" data-aos-duration="1500">
                <span>Digits that define growth</span>
              </h2>
              <li>
                <p data-aos="fade-right" data-aos-duration="1500">
                  <i class="bi bi-check2-circle"></i>&nbsp; SalonPlus is
                  Customizable, Affordable and Business Automated for your
                  salon.
                </p>
              </li>
              <li>
                <p data-aos="fade-right" data-aos-duration="1500">
                  <i class="bi bi-check2-circle"></i>&nbsp; SalonPlus is highly
                  user friendly and is here to make your business processing
                  smooth.
                </p>
              </li>
              <li>
                <p data-aos="fade-right" data-aos-duration="1500">
                  <i class="bi bi-check2-circle"></i>&nbsp; With SalonPlus,
                  managing your salon business becomes effortless and
                  hassle-free.
                </p>
              </li>
            </ul>
            <button
            (click)="About()"  
              class="btn white_btn pb-3"
              data-aos="fade-right"
              data-aos-duration="500"
            >
              Read More
            </button>
          </div>
        </div>
      </div>
      <div class="col-lg-6" data-aos="fade-left" data-aos-duration="1500">
        <div class="app_images" data-aos="fade-left" data-aos-duration="1500">
          <ul>
            <li>
              <img
                class="moving_position_animatin"
                src="https://salonplus.app/Content/assets/images_2/Images/Salon_plus_whatsapp_screen.png?format=jpg"
                alt="photo"
              />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Blog-Detail-Section-Start -->
<section class="row_am blog_list_main">
  <!-- container start -->
  <div class="container">
    <!-- row start -->
    <div class="row">
      <div class="col-lg-6">
        <div class="blog_text" data-aos="fade-right" data-aos-duration="1500">
          <span
            class="choice_badge"
            data-aos="fade-right"
            data-aos-duration="1500"
            >Features</span
          >
          <div
            class="section_title"
            data-aos="fade-right"
            data-aos-duration="1500"
          >
            <p data-aos="fade-right" data-aos-duration="1500">
              A salon app typically provides a platform for salon owners,
              stylists, and customers to connect and streamline the salon
              experience. Here are some common features you might find in a
              salon app:
            </p>
            <p data-aos="fade-right" data-aos-duration="1500">
              <i class="bi bi-check2-circle"></i>&nbsp; Pricing and Tax
              Calculation
            </p>
            <p data-aos="fade-right" data-aos-duration="1500">
              <i class="bi bi-check2-circle"></i>&nbsp; Multiple Payment Options
            </p>
            <p data-aos="fade-right" data-aos-duration="1500">
              <i class="bi bi-check2-circle"></i>&nbsp; Online Payments
            </p>
            <button
            (click)="Billing()"
            class="btn white_btn pb-3"
            data-aos="fade-right"
            data-aos-duration="500"
          >
            Read More
          </button>
          </div>
        </div>
      </div>
      
      <div class="col-lg-6" data-aos="fade-left"  data-aos-duration="1500">
        <!-- ... (carousel content) ... -->
        <div class="container">
          <div class="row">
            <div
              id="myCarousel"
              class="carousel slide"
              data-ride="carousel"
              data-interval="3000"
            >
              <!-- Indicators -->
              <ul class="carousel-indicators">
                <li
                  data-target="#myCarousel"
                  data-slide-to="0"
                  class="active"
                ></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
                <li data-target="#myCarousel" data-slide-to="5"></li>
                <li data-target="#myCarousel" data-slide-to="6"></li>
                <li data-target="#myCarousel" data-slide-to="7"></li>
                <li data-target="#myCarousel" data-slide-to="8"></li>
              </ul>

              <!-- Slides -->
              <div class="carousel-inner pb-5">
                <div class="carousel-item active">
                  <div class="card">
                    <div class="card-body card_body">
                      <p class="card-title card_title">
                        <i class="icofont-quote-left"></i>&nbsp;
                        Experience the seamless 
                        functionality of our dashboard, 
                        providing a comprehensive summary 
                        of your day-to-day activities.
                        &nbsp;<i class="icofont-quote-right"></i>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="card">
                    <div class="card-body card_body">
                      
                      <p class="card-title card_title">
                        <i class="icofont-quote-left"></i>&nbsp;
                        Experience the seamless 
                        functionality of our dashboard, 
                        providing a comprehensive summary 
                        of your day-to-day activities.
                        &nbsp;<i class="icofont-quote-right"></i>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="card">
                    <div class="card-body card_body">
                      <p class="card-title card_title">
                        <i class="icofont-quote-left"></i>&nbsp;
                        Experience a superior salon journey as we revolutionize
                        the 
                        way you book appointment, making it seamless and 
                        hassle-free.
                        &nbsp;<i class="icofont-quote-right"></i>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="card">
                    <div class="card-body card_body">
                      <p class="card-title card_title">
                        <i class="icofont-quote-left"></i>&nbsp;
                        With SalonPlus Customer Management, effortlessly
                        track 
                        comprehensive information for every customer in your
                        salon.
                        &nbsp;<i class="icofont-quote-right"></i>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="card">
                    <div class="card-body card_body">
                      <p class="card-title card_title">
                        <i class="icofont-quote-left"></i>&nbsp;
                        Efficiently track your membership customers with our 
                        comprehensive software.
                        &nbsp;<i class="icofont-quote-right"></i>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="card">
                    <div class="card-body card_body">
                      <p class="card-title card_title">
                        <i class="icofont-quote-left"></i>&nbsp;
                        Our software offers effective employee management 
                        capabilities, allowing you to efficiently track and
                        oversee
                        your staff.
                        &nbsp;<i class="icofont-quote-right"></i>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="card">
                    <div class="card-body card_body">
                      <p class="card-title card_title">
                        <i class="icofont-quote-left"></i>&nbsp;
                        Access a comprehensive list of invoices all in one 
                        convenient location.
                        &nbsp;<i class="icofont-quote-right"></i>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="card">
                    <div class="card-body card_body">
                      <p class="card-title card_title">
                        <i class="icofont-quote-left"></i>&nbsp;
                        Effortlessly create your invoices with our intuitive 
                        “Create invoice” feature.
                        &nbsp;<i class="icofont-quote-right"></i>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="card">
                    <div class="card-body card_body">
                      <p class="card-title card_title">
                        <i class="icofont-quote-left"></i>&nbsp;
                        Explore our comprehensive reports section, where
                        you can access valuable 
                        insights on your salon’s performance
                        &nbsp;<i class="icofont-quote-right"></i>
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Controls -->

              <a
                class="carousel-control-prev"
                href="#myCarousel"
                data-slide="prev"
              >
                <span class="carousel-control-prev-icon"></span>
              </a>
              <a
                class="carousel-control-next"
                href="#myCarousel"
                data-slide="next"
              >
                <span class="carousel-control-next-icon"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- row end -->
  </div>
  <!-- container end -->
</section>
<!-- Blog-Detail-Section-end -->

<section class="row_am pricing_section" id="pricing">
  <!-- container start -->
  <div class="container">
    <!-- pricing box  monthly start -->
    <div class="pricing_pannel monthly_plan active">
      <!-- row start -->
      <div class="row">
        <!-- pricing box 1 -->
        <div class="col-md-4" data-aos="flip-left" data-aos-duration="1500">
          <div class="pricing_block">
            <div class="icon">
              <img src="./assets/images/standard.png" alt="image" />
            </div>
            <div class="pkg_name">
              <h3>- BASIC -</h3>
            </div>
            <span class="price"><del>399</del><sup>199</sup></span>
            <ul class="benifits">
              <li>
                <p><i class="bi bi-check2-circle"></i>&nbsp; Billing</p>
              </li>

              <li>
                <p>
                  <i class="bi bi-check2-circle"></i>&nbsp; Standard Billing
                  Format
                </p>
              </li>

              <li>
                <p><i class="bi bi-x-circle"></i>&nbsp; Notifications</p>
              </li>

              <li>
                <p><i class="bi bi-x-circle"></i>&nbsp;Staff Attendance</p>
              </li>

              <li>
                <p><i class="bi bi-x-circle"></i>&nbsp; Membership</p>
              </li>

              <li>
                <p><i class="bi bi-x-circle"></i>&nbsp; Appointment</p>
              </li>
            </ul>
            <a (click)="signUp()" class="btn white_btn pb-3">BUY NOW</a>
          </div>
        </div>

        <!-- pricing box 2 -->
        <div class="col-md-4" data-aos="flip-right" data-aos-duration="1500">
          <div class="pricing_block highlited_block">
            <div class="icon">
              <img src="./assets/images/unlimited.png" alt="image" />
            </div>
            <div class="pkg_name">
              <h3>- PRO -</h3>
            </div>
            <span class="price"><del>1999</del><sup>1499</sup></span>
            <ul class="benifits">
              <li>
                <p><i class="bi bi-check2-circle"></i>&nbsp; Same As Basic</p>
              </li>

              <li>
                <p>
                  <i class="bi bi-check2-circle"></i>&nbsp; E-mail Notifications
                </p>
              </li>

              <li>
                <p>
                  <i class="bi bi-check2-circle"></i>&nbsp; Customized Billing
                </p>
              </li>

              <li>
                <p>
                  <i class="bi bi-check2-circle"></i>&nbsp; Staff Attendance
                </p>
              </li>

              <li>
                <p>
                  <i class="bi bi-check2-circle"></i>&nbsp; Staff Attendance
                </p>
              </li>
            </ul>
            <a (click)="signUp()" class="btn white_btn">BUY NOW</a>
          </div>
        </div>

        <!-- pricing box 3 -->
        <div class="col-md-4" data-aos="flip-left" data-aos-duration="1500">
          <div class="pricing_block">
            <div class="icon">
              <img src="./assets/images/premium.png" alt="image" />
            </div>
            <div class="pkg_name">
              <h3>- PLUS -</h3>
            </div>
            <span class="price"><del>3499</del><sup>2499</sup></span>
            <ul class="benifits">
              <li>
                <p><i class="bi bi-check2-circle"></i>&nbsp; Same As Pro</p>
              </li>

              <li>
                <p><i class="bi bi-check2-circle"></i>&nbsp; Reward Point</p>
              </li>

              <li>
                <p><i class="bi bi-check2-circle"></i>&nbsp; Marketing Tools</p>
              </li>

              <li>
                <p>
                  <i class="bi bi-check2-circle"></i>&nbsp; Whatsapp
                  Notification
                </p>
              </li>

              <li>
                <p><i class="bi bi-check2-circle"></i>&nbsp; Auto Reporting</p>
              </li>

              <li>
                <p><i class="bi bi-check2-circle"></i>&nbsp; Appointment</p>
              </li>
            </ul>
            <a (click)="signUp()" class="btn white_btn">BUY NOW</a>
          </div>
        </div>
      </div>
      <!-- row end -->
    </div>
  </div>
</section>


  <section class="newsletter_box newsletter_section">
    <!-- container start -->
    <div class="container" data-aos="fade-right" data-aos-duration="1500">
      <div class="newsletter">
        <div class="section_title">
          <h1><i class="icofont-quote-left"></i>&nbsp;Add on</h1>
          <div class="add_on" style="display: flex; justify-content: space-between; align-items: center;">
            <div class="fee">
              <h1><i class="bi bi-hash"></i></h1>
              <!-- <p>&nbsp; API Integration</p> -->
              <h5>&nbsp; API Integration</h5>
              <h5 class="pb-2">Fee</h5>
            </div>
            <div class="month">
              <h1><i class="bi bi-hash"></i></h1>
              <h5>
                &nbsp;Whatsapp Messages
              </h5>
              <h5 class="pb-2">Rs.500/Month</h5>
            </div>
          </div>
          <button (click)="Pricing()" class="btn white_btn" data-aos="fade-right"  data-aos-duration="1500">
            Read More
          </button>
        </div>
      </div>
    </div>
    <!-- container end -->
  </section>
  <!-- News-Letter-Section-end -->


<section class="row_am about_app_section pt-5">
  <!-- container start -->
  <div class="container">
    <!-- row start -->
    <div class="row">
      <div class="col-lg-12">
        <div class="about_text">
          <div class="section_title">
            <ul class="app_statstic" id="counter">
              <li data-aos="flip-right" data-aos-duration="1000">
                <div class="text">
                  <p>
                    <span class="counter-value" data-count="1">0</span
                    ><span>K+</span>
                  </p>
                  <p>Happy Costumers</p>
                </div>
              </li>
              <li data-aos="flip-left" data-aos-duration="1000">
                <div class="text">
                  <p>
                    <span class="counter-value" data-count="76">0 </span
                    ><span>%</span>
                  </p>
                  <p>Positive Ratings</p>
                </div>
              </li>
              <li data-aos="flip-right" data-aos-duration="1000">
                <div class="text">
                  <p>
                    <span class="counter-value" data-count="4.5">0</span
                    ><span><i class="bi bi-star-fill text-warning"></i> </span>
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>